.container {
    /* text-align: top; */
    color: black;
}

.card {
    background-color: #ddb1b0;
} 

.cardimg {
    resize: both;
}

.sliderimg{
    height: auto;
    /* padding: 10; */
    resize: both;
  }